body {
    background: #000000;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 0;
    &__logo {
        cursor: pointer;
    }
    &__profile {
        display: flex;
        align-items: center;
    }
    &__icons {
        margin-right: 75px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
    }
}

.menu {
    display: flex;
    &__item {
        margin-right: 54px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link {
        font-weight: 700;
        color: #fff;
        opacity: 0.5;
        transition: 0.5s all;
        &:hover {
            opacity: 1;
        }
        &_active {
            opacity: 1;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                margin-top: 5px;
                border-radius: 50px;
                background: linear-gradient(151deg, #326cff 0%, #26fff2 100%);
            }
        }
    }
}
.banner {
    background: url("../img/banner.png") no-repeat center right/contain;
    border-bottom: 1.5px solid #2F2E2E;
    overflow: hidden;
    &__wrapper {
        padding: 122px 0 183px 0;
        max-width: 562px;
        background: #010101;
        box-shadow: 100px 0px 100px #000000;
    }
    &__title {
        font-size: 5rem;
        font-family: 'Marcellus', serif;
        line-height: 4.75rem;
    }
    &__info {
        font-weight: 800;
    }
    &__year {
        margin-right: 18px;
    }
    &__age {
        margin-right: 18px;
        display: inline-block;
        width: 60px;
        position: relative;
        text-align: center;
        &::after {
            content: "";
            position: absolute;
            background: url("../icons/circle.svg") no-repeat;
            background-size: cover;
            width: 100%;
            display: block;
            height: 24px;
            top: -3px;
            right: 2px;
            
        }
    }
    &__hour {
        margin-right: 41px;
    }
    &__rating {
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 16px;
            background: url("../icons/star.svg") no-repeat;
            position: absolute;
            top: 1.5px;
            left: 40px;
        }
    }
    &__descr {
        color: #C2C2C2;
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-top: 32px;
        
    }
    &__btn-wrapper {
        margin-top: 35px;
        .btn-watch {
            width: 141px;
            height: 50px;
            border-radius: 100px;
            background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
            box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
            border: none;
            color: #fff;
            font-weight: 800;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            &::before {
                content: "";
                background: url("../icons/play.svg") no-repeat;
                display: block;
                width: 14px;
                height: 18px;
                position: absolute;
                left: 33px;
            }
            &:hover {
                box-shadow: none;
            }
        }
        .btn-more {
            width: 195px;
            height: 50px;
            background: #FFFFFF;
            border-radius: 100px;
            border: none;
            color: #000;
            font-weight: 800;
            margin-left: 30px;
            cursor: pointer;
        }
    }

}

.title {
    position: relative;
    display: inline-block;
    font-weight: 700;
    padding: 0px 35px 0px 30px;
    &::before {
        content: "";
        display: block;
        width: 35px;
        height: 8px;
        background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
        transform: rotate(-90deg);
        border-radius: 50px;
        position: absolute;
        left: -10px;
        top: 12px;

    }
    &::after {
        content: "";
        display: block;
        background: url("../icons/title-arrow.svg") no-repeat;
        width: 10px;
        height: 17px;
        position: absolute;
        right: 0;
        top: calc(64% - .7rem);
    }
    &__link {
        font-size: 1.75rem;
        color: #fff;
    }
}

.movies {
    padding: 68px 0 100px 0;
    &__container {
        &:nth-child(1n + 2) {
            margin-top: 60px;
        }
    }
    &__carousel {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 0 14%;
        transition: 0.2s ease;
        &:hover {
            filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
        }
    }
    &__image {
        display: block;
        object-fit: cover;
        width: 100%;
        border-radius: 25px;
    }
    &__btn {
        margin-top: 70px;
        width: 141px;
        height: 50px;
        background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
        box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
        border-radius: 100px;
        border: none;
        color: #fff;
        font-weight: 800;
    }
}

.popular {
    padding-top: 108px;
    &__wrapper {
        display: grid;
        margin-top: 40px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 198px);
        gap: 27px;
        text-align: center;
    }
    &__item {
        border-radius: 20px;
        padding: 125px 0px 0px 0px;
        position: relative;
        &_romance {
            background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
        }
        &_drama {
            background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
        }
        &_history {
            background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
        }
        &_action {
            background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
        }
        &_sci-fi {
            background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
        }
        &_horror {
            background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
        }
        &_comedy {
            background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
        }
        &_documentary {
            background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
        }
        
    }
    &__icon {
        position: relative;
    }
    &__image {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__header {
        font-weight: 700;
        font-size: 1.75rem;
    }
}

.actors {
    padding: 70px 0 0px 0px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 0 15%;
    }
    &__image {
        border-radius: 100%;
    }
    &__name {
        margin-top: 20px;
        font-weight: 700;
        font-size: 1.125rem;
    }
}

.coming {
    padding-top:100px;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__item {
        flex: 0 0 50%;
    }
    &__link {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 341px;
        border-radius: 20px 0 0 20px;
        &_2 {
            border-radius: 0px 20px 20px 0;
        }
    }

    &__image {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.offer {
    padding: 115px 0 0 0;
    &__banner {
        display: flex;
        margin: 0 auto;
        max-width: 1224px;
        min-height: 270px;
        padding: 0px 150px 0px 57px;
        justify-content: space-between;
        align-items: center;
        background: url("../img/offer-banner.png") no-repeat;
        background-size: cover;
        border-radius: 20px;
        box-sizing: border-box;
    }
    &__title {
        font-size: 4rem;
        margin: 0 ;
        line-height: 1;
        max-width: 780px;
    }

    &__btn {
        width: 141px;
        height: 50px;
        font-weight: 800;
        background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
        color: #FFF;
        border: none;
        box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
        border-radius: 100px;
        text-align: center;
        cursor: pointer;
    }
}